@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: #d5d5d5 ;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	min-height: 100vh;
}

p {
	margin: 5px 0;
}

h2 {
	margin: 10px 0 20px;
	text-align: center;
	color : darkorange ;
}



input[type=checkbox] {
	margin-right: 0;
}
input 
{
	color : black ;
	font : bolder ;
}
.container {
	background-image: linear-gradient(to top ,#536976 80%,#292E49 100%);
	box-shadow: 0px 0px 6px 0px black ;
	padding: 20px;
	width: 350px;
	max-width: 100%;
   border : none ;
}

.result-container {
	background-color: black ;
   color : orange ;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	font-size: 18px;
	letter-spacing: 1px;
	padding: 12px 10px;
	height: 50px;
	width: 100%;
   transition: all 0.3s ease-in-out ;

}

.result-container #result {
  	word-wrap: break-word;
	max-width: calc(100% - 40px);
}

.result-container .btn {
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
	height: 40px;
	width: 40px;
}

.btn {
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 8px 12px;
	background-color : black;
   transition: all 0.3s ease-in-out ;
}
.btn:hover 
{
   background-color: white ;
   color : darkblue ;
}
.result-container:hover
{
   background-color: white ;
   color : darkblue ;
}
.btn-large {
	display: block;
	width: 100%;
}

.setting {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px 0;
}

@media screen and (max-width: 400px) {
	.result-container {
		font-size: 14px;
	}
}


@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}